<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset=UTF-8"/>
    <title>GitHUB user profile snapshot</title>
    <script type="text/javascript">
        fetch("/api/visits")
            .then(response => response.json())
            .then(visits => {
                visits.forEach(visit => {
                    const el = document.createElement('li');
                    el.innerText = visit.description;
                    document.querySelector('#visits').append(el);
                });
            });
    </script>
    <script type="text/javascript">
        fetch("/api/user")
            .then(response => response.json())
            .then(user => {
                    const ul = document.createElement('usrr');
                    ul.innerText = user.name;
                    document.querySelector('#users').append(ul);
            });
    </script>
</head>
<body>
<h2>Статистика профиля пользователя GitHUB</h2>
<form action="#" th:action="@{/finduser"} th:object="${user_find_form}" method="post">
    GitHUB username:
    <input type="text" th:field="*{username}"/><input type="submit" value="Find"/>
</form>
<ul id="users">
</ul>
<p>visits list:
<ul id="visits">
</ul>
</p>
<p> Congratulate, __name__! CI/CD complete. ver 2.00</p>
</body>
</html>