<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>GitHUB user profile snapshot</title>
    <script type="text/javascript">
        fetch("/api/visits")
            .then(response => response.json())
            .then(visits => {
                visits.forEach(visit => {
                    const el = document.createElement('li');
                    el.innerText = visit.description;
                    document.querySelector('#visits').append(el);
                });
            });
    </script>
</head>
<body>
<form action="#" th:action="@{/}" th:object="${user_find_form}" method="post">
    GitHUB username:
    <input type="text" th:field="*{findusername}"/><input type="submit" value="Find"/>
</form>
<div th:if="${result_form}">
    <h2 th:text = "${'GitHUB профиль пользователя '+result_form.username}"></h2>
    <p></p>
    <td>
        <table>
            <caption>Популярные репозитории</caption>
            <tr>
                <th>Repository</th>
                <th>Branches</th>
                <th>Stars</th>
            </tr>
            <tbody>
            <tr th:each="row : ${result_form.repoList}">
                <td><a th:href="${'/repo/'+row.id}" th:text = "${row.description}">text</a></td>
                <td th:text="${row.count_branches}">branches</td>
                <td th:text="${row.stars}">count stars</td>
            </tr>
            </tbody>
        </table>
    </td>
</div>
<footer>
<ul id="visits">
</ul>
<p> CD/CI complete. ver 3.00.3</p>
</footer>
</body>
</html>